* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 1rem;
}
.carousel_container{
  position: relative; --width: 80%;
  width: var(--width);
  max-width: 1024px;
  margin-left: auto;
  margin-right:auto;
}
.carousel_container:hover .controls{
  opacity: 1;
  pointer-events: auto;
}
.img_cont {
    width: 100%;
    overflow: hidden;
}
.slider_container {
    display: flex;
    transition: all .3s ease-in-out;
}
.carousel {
    width: 100%;
}
.img_cont img {
    width: 100%;
}
.controls{
  background-color: transparent;
  position: absolute;
  top:50%;
  right: 0;
  left:0;
  padding: 1rem;
  display:flex;
  align-items: center;
  justify-content: space-between;
  transform:translateY(-50%);
  opacity:0;
  pointer-events:none;
}
.controls button{
  border:none;
  border-radius: .125rem;
  width: calc(2.75rem + 1vw);
  height: calc(2.75rem + 1vw);
  background-color: transparent;
  font-size: calc(1.75rem + 1vw);
}
.controls button:hover{
  background-color: #ffffffee;
}
@media (hover: none) {
  .controls{
      opacity:1;
      pointer-events: auto;
  }
}
@media screen and (max-width : 768px) {
  .carousel_container{
  position: relative; --width: 100%;
}
}
@media (max-width: 768px) and (orientation: portrait) {
   .controls{
    padding : .25rem 3rem;
    opacity: 1;
    pointer-events: auto;
    top : calc(100% + .5rem);
    transform: none;
   }
}